.modebtn {
  position: absolute;
  margin: 1rem auto;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  margin: 0 1rem;
  font-weight: bold;
}
.modebtn button {
  border: 1px solid black;
  padding: 0.5rem 1rem;
  font-weight: 600;
}
.App {
  text-align: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.calculator {
  width: 95vw;
  max-width: 500px;
  border-radius: 15px;
}
.display {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.digitArea {
  text-align: right;
  border: 0;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  width: 100%;
  font-weight: bold;
}
.digitArea:focus {
  border: 0;
  outline: 0;
}
.buttonsArea {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: stretch;
}
.buttonsArea button {
  flex: 1 1 15%;
  align-items: stretch;
  margin: 1rem;
  padding: 1.2rem;
  font-size: 1.5rem;
  border-radius: 15px;
}
